{% extends "patientOnCall/base.html" %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'patientOnCall/add-medication.css' %}"></link>
</head>
<body>   
    <h4>Add New Medication</h4>
    <form class="add-entry-form d-flex flex-row justify-content-between" id="medication-add-entry">
        <div class="add-medication pt-1">
        <label class="mr-2" for="medication-drug">Drug</label>
        <input type="text"  name="medication-drug" id="medication-drug"></input>
        </div>
        <div class="add-medication pt-1">
        <label for="medication-dosage">Dosage</label>
        <input type="text" name="medication-dosage" id="medication-dosage"></input>
        </div>
        <div class="add-medication pt-1">
        <label for="medication-start-date">Start Date</label>
        <input type="date" name="medication-start-date" id="medication-start-date"></input>
        </div>
        <!-- <div class="add-medication pt-1">
        <label for="medication-end-date">End Date</label>
        <input type="date" name="medication-end-date" id="medication-end-date"></input>
        </div> -->
        <div class="add-medication pt-1">
          <label>Duration</label>
          <input type="number" name="medication-duration" id="medication-duration-num" required min="1" step="1"></input>
          <select id="medication-duration-unit">
            <option value="day">Day(s)</option>
            <option value="week">Week(s)</option>
            <option value="month">Month(s)</option>
            <option value="year">Year(s)</option>
          </select>
        </div>
        <div class="add-medication pt-1">
          <label for="medication-route">Route</label>
          <input type="text" name="medication-route" id="medication-route"></input>
        </div>
        <div class="add-medication pt-1">
          <label for="medication-comment">Comment</label>
          <input type="text" name="medication-comment" id="medication-comment"></input>
        </div>  
        <div class="add-precription">
        <input class="btn btn-primary" type="submit" value="Submit" id="medication-submit">
        </div>
    </form>
    <script src="{% static 'patientOnCall/add-medication.js' %}"></script>

</body>
{% endblock %}