{% extends "patientOnCall/base.html" %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'patientOnCall/edit-medication.css' %}"></link>
</head>
<body>
  {% comment %} <div class="invisible" id="patient-data-box"></div> {% endcomment %}
  <div class="container-fluid p-3 mb-3">
    <h1 id="patient-name">Bob Choy</h1>
    <h2 id="patient-id">12345</h2>
  </div>
  <div id="edit-medication-headers-box">
    <div class="back-button-box">
      <a href="/medication/">
        <button class="green-btn">back</button>
      </a>
    </div>
    <div id="edit-medication-headers">
      <h1>New Medication</h1>
      <div class="main-current-medication-foot-note">
        medication date: 1/1/2013
      </div>
      <div class="main-current-medication-foot-note">
        allergies: --
      </div>
    </div>
  </div>
  <div class="p-3" id="main-medication-box">
    <div id="main-current-medication-box">
      <div id="main-current-medication-box-headers">
        <h4>Current Medications:</h4>
        <button class="red-btn print-btn">print</button>
        <button class="green-btn prev-btn">prev</button>
      </div>
      <div class="info-table" id="main-current-medication-box-table">
        <div class="info-table-item info-table-label">Action</div>
        <div class="info-table-item info-table-label">Drug</div>
        <div class="info-table-item info-table-label">Dose & Frequency</div>
        <div class="info-table-item info-table-label">Start Date</div>
        <div class="info-table-item info-table-label">End Date</div>
        <div class="info-table-item info-table-label">Duration</div>
        <div class="info-table-item info-table-label">Route</div>
        <div class="info-table-item info-table-label">Comments</div>
        <div class="info-table-item info-table-label">Confirmation</div>
      </div>
      <div class="add-button-box" id="add-medication-button-box"><button id="add-medication-button">Add Medication</button></div>
      <div class="add-button-box"><button id="save-medication" class="add-button">Save</button></div>
    </div>
  </div>
  <script src="{% static 'patientOnCall/edit-medication.js' %}"></script>
</body>
{% endblock %}