<!DOCTYPE html>
  <html>
    <head>
        <title>Welcome</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Patient On Call">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> {% endcomment %}
        <style type="text/css"></style>
    </head>
    <body>
        <p>Search Bar</p>
        <script type="text/javascript"></script>
    </body>
  </html>