{% extends "patientOnCall/base.html" %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'patientOnCall/new-prescription.css' %}"></link>
</head>
<body>
  {% comment %} <div class="invisible" id="patient-data-box"></div> {% endcomment %}
  <div class="container-fluid p-3 mb-3">
    <h1 id="patient-name">Bob Choy</h1>
    <h2 id="patient-id">12345</h2>
  </div>
  <div class="p-3" id="main-prescription-box">
    <div id="main-current-prescription-box">
      <div id="main-current-prescription-box-headers">
        <h2>Current Prescriptions:</h2>
        <button class="red-btn print-btn">print</button>
        <button class="green-btn prev-btn">prev</button>
      </div>
      <div class="info-table" id="main-current-prescription-box-table">
        <div class="info-table-item info-table-label">Action</div>
        <div class="info-table-item info-table-label">Drug</div>
        <div class="info-table-item info-table-label">Dose & Frequency</div>
        <div class="info-table-item info-table-label">Start Date</div>
        <div class="info-table-item info-table-label">End Date</div>
        <div class="info-table-item info-table-label">Duration</div>
        <div class="info-table-item info-table-label">Route</div>
        <div class="info-table-item info-table-label">Comments</div>
        <div class="info-table-item info-table-label">Confirmation</div>
      </div>
      <div class="main-current-prescription-foot-note">
        last prescription date: 1/1/2013
      </div>
      <div class="add-button-box"><button id="save-prescription" class="add-button">Save</button></div>
    </div>
  </div>
  <script src="{% static 'patientOnCall/new-prescription.js' %}"></script>
</body>
{% endblock %}