{% extends "patientOnCall/base.html" %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'patientOnCall/prescription.css' %}"></link>
</head>
<body>
  {% comment %} <div class="invisible" id="patient-data-box"></div> {% endcomment %}
  <div class="container-fluid p-3 mb-3 patient-identity">
    <h1 id="patient-name"></h1>
    <h2 id="patient-id"></h2>
  </div>
  <div class="p-3" id="main-prescription-box">
    <div class="p-3" id="main-current-prescription-box">
      <div id="main-current-prescription-box-headers">
        <h2 class="section-header">Current Prescriptions:</h2>
        <button class="" id="print-button">print</button>
        <button class="" id="prev-button">prev</button>
      </div>
      <div class="info-table" id="main-current-prescription-box-table">
        <div class="info-table-item info-table-label">Drug</div>
        <div class="info-table-item info-table-label">Dose & Frequency</div>
        <div class="info-table-item info-table-label">Start Date</div>
        <div class="info-table-item info-table-label">End Date</div>
        <div class="info-table-item info-table-label">Duration</div>
        <div class="info-table-item info-table-label">Route</div>
        <div class="info-table-item info-table-label">Comments</div>
      </div>
      <div class="main-current-prescription-foot-note">
        last prescription date: 1/1/2013
      </div>
      <div class="add-button-box"><button id="new-prescription" class="add-button">New prescription</button></div>
    </div>
    <!-- <h4>Add New Prescription</h4>
    <form class="add-entry-form d-flex flex-row justify-content-between" id="prescription-add-entry">
      <div class="add-prescription pt-1">
        <label class="mr-2" for="prescription-drug">Drug</label>
        <input type="text"  name="prescription-drug" id="prescription-drug"></input>
      </div>
      <div class="add-prescription pt-1">
        <label for="prescription-dosage">Dosage</label>
        <input type="text" name="prescription-dosage" id="prescription-dosage"></input>
      </div>
      <div class="add-prescription pt-1">
        <label for="prescription-start-date">Start Date</label>
        <input type="date" name="prescription-start-date" id="prescription-start-date"></input>
      </div>
      <div class="add-prescription pt-1">
        <label for="prescription-end-date">End Date</label>
        <input type="date" name="prescription-end-date" id="prescription-end-date"></input>
      </div>
      <div class="add-prescription pt-1">
        <label for="prescription-duration">Duration</label>
        <input type="text" name="prescription-duration" id="prescription-duration"></input>
      </div>
      <div class="add-prescription pt-1">
        <label for="prescription-route">Route</label>
        <input type="text" name="prescription-route" id="prescription-route"></input>
      </div>
      <div class="add-precription">
        <input class="btn btn-primary" type="submit" value="Submit" id="prescription-submit">
      </div>
    </form> -->
  </div>
  <script src="{% static 'patientOnCall/prescription.js' %}"></script>
</body>
{% endblock %}