/* .search-bar {
  display: block;
  text-align: center;
  padding: auto;
  width: 100%;
}

.search-patient {
  font-size: 5em;
}

.search-patient input{
  height: 5em;
  width: 50em;
} */