#past-medical-history-and-presentation-box {
  height: 40vh;
  width: 100%;
  display: flex;
}

#main-past-medical-history-box {
  width: 65%;
}

#main-past-medical-history-box ul {
  list-style-type: none;
  max-width: 700px;
}

#patient-medical-history-add-entry {
  max-width: 700px;
}

.past-medical-history-entry {
  background-color: var(--info-bg-color);
}

.past-medical-history-discharge-date {
  width: 20%;
  font-size: 1.1em;
}

.past-medical-history-summary {
  width: 15%;
  font-size: 1.1em;
}

#presentation-box {
  width: 35%;
  border: 3px solid var(--info-darker-bg-color);
  margin-right: 1em;
  border-radius: 15px;
  background-color: var(--info-lighter-bg-color);
  font-size: 1.1em;
}

#main-current-prescription-box {
  padding-top: 2em;
  max-height: 35vh;
}

#main-current-prescription-box-headers {
  display: flex;
}

#main-current-prescription-box h2 {
  flex: 4;
  margin-bottom: 0 !important;
}

#main-current-prescription-box button {
  flex: 1;
  margin: 0 .5em;
  padding: .1em .4em;
}
