#main-current-visit-box {
    padding-top: 2em;
    max-height: 35vh;
  }
  
#main-current-visit-box-headers {
  display: flex;
}

#main-current-visit-box h2 {
  flex: 4;
  margin-bottom: 0 !important;
}

